:root {
  --scroll-width: 4px;
}

::-webkit-scrollbar {
  width: var(--scroll-width);
}

::-webkit-scrollbar-track {
  background: #030100;
}

::-webkit-scrollbar-thumb {
  background: #fdbf1c;
}

body {
  scrollbar-gutter: stable;
  background: url(../images/stars.png) 39px 39px, linear-gradient(#0f0f17 0%, #030100 30.35%, #191919 100%) fixed;
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000050;
}

.preloader_hidden {
  visibility: hidden;
}

.preloader__circle{
  width: 75px;
  height: 75px;
  border: 5px solid #fff;
  border-top: 5px solid #f7b302;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.button-close {
  width: 30px;
  height: 30px;
  text-decoration: none;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.button-close:before, .button-close:after {
  content: '';
  width: 2px;
  height: 22px;
  background: #000;
  position: absolute;
  transform: rotate(45deg);
}

.button-close:after {
  transform: rotate(135deg);
}

.button-close:hover:before, .button-close:hover:after {
  background: #666;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f7b302;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  left: 0;
  margin-left: 5px;
  height: 140px;
}

.header__button-momo, .header__button-add, .header__button-delete {
  width: 40px;
  height: 40px;
  text-decoration: none;
  border: none;
  padding: 0;
  border-radius: 10px;
  color: #f7b302;
}

.header__button-momo {
  background: url(../images/momoai.png) 0 / 100%;
}

.header__button-add {
  background: #25282b url(../images/addUser.svg) 50% 50% / 70% no-repeat;
}

.header__button-delete {
  background: #25282b url(../images/trash.svg) 50% 50% / 70% no-repeat;
}

.header__hot {
  background-color: #f7b302;
  border-radius: 24px;
  height: 130px;
  padding: 10px 20px;
  position: relative;
  margin: 5px 0;
  display: flex;
}

.header__title, .header__subtitle {
  font-family: 'Cabinet Grotesk', sans-serif;
  font-weight: 900;
  margin: 0;
  text-align: center;
  font-size: 130px;
  line-height: 1;
  color: #25282b;
}

.header__img {
  width: 130px;
  height: 130px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000080;
}

.popup__container {
  position: relative;
  width: 600px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__textarea-container {
  position: relative;
  height: 200px;
  font-size: 18px;
  border-radius: 10px;
  overflow: hidden;
}

.popup__textarea-copy {
  position: absolute;
  width: 400px;
  height: 200px;
  padding: 10px; /*При масштабировании бордер перерасчитывается, а паддинг нет. Из-за этого внутренние размеры имеют отклонение на несколько пикселей*/
  border: 1px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0;
  white-space: break-spaces;
  word-wrap: break-word;
  overflow-y: auto;
}

.popup__textarea-copy::-webkit-scrollbar {
  width: 0;
}

.popup__textarea-copy-text {
  margin: 0;
  min-height: 20px;
  line-height: 20px;
}

.popup__textarea {
  position: relative;
  width: 400px;
  height: 200px;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  box-sizing: border-box;
  background: transparent;
  color: transparent;
  caret-color: #000;
  line-height: 20px;
  white-space: break-spaces;
}

.span-error_syntax {
  background: #f00;
}

.span-error_length {
  background: orange;
}

.popup__textarea::selection {
  background: #3568D5;
  color: #fff;
}

.popup__errors {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 100%;
  position: relative;
}

.popup__error {
  margin: 10px 0 0;
  height: 20px;
  text-align: left;
  opacity: 0;
  position: absolute;
  transition: all .3s ease-in-out;
  translate: 0 -10px;
  pointer-events: none;
  user-select: none;
}

.popup__error_visible {
  translate: 0 0;
  opacity: 1;
}

.popup__error-syntax {
  color: #e81224;
}

.popup__error-length {
  color: #f7630c;
}

.popup__error-length-bot {
  transform: translateY(30px);
}

.popup__button-submit {
  width: 200px;
  height: 50px;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 10px 0 0;
  border-radius: 10px;
  color: #f7b302;
  background: #25282b;
}

.popup__button-submit_disabled {
  color: #fdc435;
  background: #474d52;
}

.popup__button-close {
  position: absolute;
  left: 100%;
  bottom: 100%;
  transform: translate(-45px, 45px);
}

.popup__addresses {
  position: relative;
  height: 329px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid #e5e7eb; 
  border-width: 0 0 0 2px;
}

.popup__addresses::-webkit-scrollbar {
  width: 2px;
}

.popup__addresses::-webkit-scrollbar-track {
  background: #e5e7eb;
}

.popup__addresses::-webkit-scrollbar-thumb {
  background: #030100;
}

.popup__address-container {
  width: 250px;
  min-height: 40px;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.popup__address-container:first-child {
  border-top: 1px solid #e5e7eb;
}

.popup__address {
  width: 200px;
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup__button-delete:before, .popup__button-delete:after {
  height: 16px;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.account-table {
  table-layout: fixed;
  width: calc((100vw - var(--scroll-width)) / 7);
  border-collapse: collapse;
  font-family: "Manrope";
  font-size: 18px;
  text-align: center;
  border: solid #fdbf1c;
  border-width: 0 1px 1px 0;
}

.account-table__head {
  background: #f3f4f6;
}

.account-table__body {
  background: #fff;
}

.account-table__body_error {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-table__notification_error {
  color: #f00;
  font-size: 22px;
}

.account-table__row {
  display: flex;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  border-top: 1px solid #e5e7eb;
}

.account-table__firedrop {
  background: #40f26a;
}

.account-table__claim {
  background: #f2a540;
}

.account-table__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.account-table__involved {
  width: 122px;
}

.account-table__tokenNumbers {
  width: 49.5px;
}

.account-table__time {
  width: 37px;
}

.account-table__link {
  text-decoration: none;
  color: #000;
}

.account-table__img {
  height: 30px;
  border-radius: 5px;
}

@media screen and (max-width: 1679px) {
  .account-table {
    width: calc((100vw - var(--scroll-width)) / 6);
  }
}

@media screen and (max-width: 1439px) {
  .account-table {
    width: calc((100vw - var(--scroll-width)) / 5);
  }
}

@media screen and (max-width: 1219px) {
  .account-table {
    width: calc((100vw - var(--scroll-width)) / 4);
  }
}

@media screen and (max-width: 959px) {
  .account-table {
    width: calc((100vw - var(--scroll-width)) / 3);
  }
}