:root {
  --scroll-width: 4px;
}

::-webkit-scrollbar {
  width: var(--scroll-width);
}

::-webkit-scrollbar-track {
  background-color: #030100;
}

::-webkit-scrollbar-thumb {
  background-color: #fdbf1c;
}

body {
  scrollbar-gutter: stable;
  background: url(../images/stars.png) 39px 39px, linear-gradient(#0f0f17 0%, #030100 30.35%, #191919 100%) fixed;
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  left: 0;
  margin-left: 5px;
  height: 140px;
}

.header__button-momo, .header__button-add, .header__button-delete {
  width: 40px;
  height: 40px;
  text-decoration: none;
  border: none;
  padding: 0;
  border-radius: 10px;
  color: #f7b302;
  background: #25282b;
}

.header__button-momo {
  background: url(../images/momoai.png) 0 / 100%;
}

.header__hot {
  background-color: #f7b302;
  border-radius: 24px;
  height: 130px;
  padding: 10px 20px;
  position: relative;
  margin: 5px 0;
  display: flex;
}

.header__title, .header__subtitle {
  font-family: 'Cabinet Grotesk', sans-serif;
  font-weight: 900;
  margin: 0;
  text-align: center;
  font-size: 130px;
  line-height: 1;
  color: #25282b;
}

.header__img {
  width: 130px;
  height: 130px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000080;
}

.popup__container {
  position: relative;
  width: 600px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__textarea-container {
  position: relative;
  height: 200px;
  font-size: 18px;
  border-radius: 10px;
  overflow: hidden;
}

.popup__textarea-copy {
  position: absolute;
  width: 400px;
  height: 200px;
  padding: 10px; /*При масштабировании бордер перерасчитывается, а паддинг нет. Из-за этого внутренние размеры имеют отклонение на несколько пикселей*/
  border: 1px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: scroll;
}

.popup__textarea-copy::-webkit-scrollbar {
  width: 0;
}

.popup__textare-copy-text {
  margin: 0;
  min-height: 20px;
  line-height: 20px;
}

.popup__textarea {
  position: relative;
  width: 400px;
  height: 200px;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  box-sizing: border-box;
  background: transparent;
  color: transparent;
  caret-color: #000;
  line-height: 20px;
}

.popup__error {
  background: #f00;
}

.popup__textarea::selection {
  background: #3568D5;
  color: #fff;
}

.popup__button-submit {
  width: 200px;
  height: 50px;
  text-decoration: none;
  border: none;
  padding: 0;
  border-radius: 10px;
  color: #f7b302;
  background: #25282b;
}

.popup__button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  text-decoration: none;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  left: 100%;
  bottom: 100%;
  transform: translate(-45px, 45px);
}

.popup__button-close:before, .popup__button-close:after {
  content: '';
  width: 2px;
  height: 22px;
  background: #000;
  position: absolute;
  transform: rotate(45deg);
}

.popup__button-close:after {
  transform: rotate(135deg);
}

.popup__button-close:hover:before, .popup__button-close:hover:after {
  background: #666;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.account-table {
  table-layout: fixed;
  width: calc((100vw - var(--scroll-width)) / 7);
  border-collapse: collapse;
  font-family: "Manrope";
  font-size: 18px;
  text-align: center;
  border: solid #fdbf1c;
  border-width: 0 1px 1px 0;
}

.account-table__head {
  background: #f3f4f6;
}

.account-table__body {
  background: #fff;
}

.account-table__row {
  display: flex;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  border-top: 1px solid #e5e7eb;
}

.account-table__firedrop {
  background: #40f26a;
}

.account-table__claim {
  background: #f2a540;
}

.account-table__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.account-table__involved {
  width: 105px;
}

.account-table__tokenNumbers {
  width: 49.5px;
}

.account-table__time {
  width: 34px;
}

.account-table__link {
  text-decoration: none;
  color: #000;
}

.account-table__img {
  height: 30px;
  border-radius: 5px;
}

.error {
  margin: 10px 0;
  height: 20px;
  color: red;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

@media screen and (max-width: 1679px) {
  .account-table {
    width: calc((100vw - var(--scroll-width)) / 6);
  }
}

@media screen and (max-width: 1439px) {
  .account-table {
    width: calc((100vw - var(--scroll-width)) / 5);
  }
}

@media screen and (max-width: 1219px) {
  .account-table {
    width: calc((100vw - var(--scroll-width)) / 4);
  }
}

@media screen and (max-width: 959px) {
  .account-table {
    width: calc((100vw - var(--scroll-width)) / 3);
  }
}