:root {
  --scroll-width: 4px;
}

::-webkit-scrollbar {
  width: var(--scroll-width);
}

::-webkit-scrollbar-track {
  background: #030100;
}

::-webkit-scrollbar-thumb {
  background: #fdbf1c;
}

body {
  scrollbar-gutter: stable;
  background: url(../images/stars.png) 39px 39px, linear-gradient(#0f0f17 0%, #030100 30.35%, #191919 100%) fixed;
  font-family: Manrope, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.button-close {
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.button-close:before, .button-close:after {
  content: '';
  width: 2px;
  height: 22px;
  background: #000;
  position: absolute;
  transform: rotate(45deg);
}

.button-close__top-right {
  position: absolute;
  right: 0;
  top: 0;
  margin: 15px;
}

.button-close:after {
  transform: rotate(135deg);
}

.button-close:hover:before, .button-close:hover:after {
  background: #666;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000050;
}

.preloader__circle{
  width: 75px;
  height: 75px;
  border: 5px solid #fff;
  border-top: 5px solid #f7b302;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.account-error {
  width: 200px;
  border-radius: 5px;
  background: #cc0000;
  position: absolute;
  padding: 10px;
  margin: 10px;
  right: 0;
  white-space: break-spaces;
}

.account-error__button-close {
  margin: 5px;
}

.account-error__button-close:before, .account-error__button-close:after {
  height: 16px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  margin-left: 5px;
}

.header__button {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  margin: 5px 0;
  border-radius: 10px;
  color: #f7b302;
  background: #25282b 50% 50% / 70% no-repeat;
}

.header__button-reload {
  background-image: url(../images/spin.svg);
}

.header__button-add {
  background-image: url(../images/addUser.svg);
}

.header__button-delete {
  background-image: url(../images/trash.svg);
  background-size: 60%;
}

.header__hot {
  background-color: #f7b302;
  border-radius: 24px;
  height: 140px;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.header__title, .header__subtitle {
  font-family: sans-serif;
  font-weight: 900;
  margin: 0;
  font-size: 120px;
  color: #25282b;
}

.header__img {
  width: 120px;
  height: 120px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000080;
}

.popup__container {
  position: relative;
  width: 600px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__textarea-container {
  position: relative;
  height: 200px;
  font-size: 18px;
  border-radius: 10px;
  overflow: hidden;
}

.popup__textarea-copy {
  position: absolute;
  width: 400px;
  height: 200px;
  padding: 10px; /*При масштабировании бордер перерасчитывается, а паддинг нет. Из-за этого внутренние размеры имеют отклонение на несколько пикселей*/
  border: 1px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0;
  white-space: break-spaces;
  word-wrap: break-word;
  overflow-y: auto;
}

.popup__textarea-copy-text {
  margin: 0;
  line-height: 24px;
}

.popup__textarea {
  position: relative;
  width: 400px;
  height: 200px;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  box-sizing: border-box;
  background: transparent;
  color: transparent;
  caret-color: #000;
  line-height: 24px;
  white-space: break-spaces;
}

.popup__textarea::-webkit-scrollbar {
  width: 0;
}

.span-error_syntax {
  background: #f00;
}

.span-error_length {
  background: orange;
}

.popup__textarea::selection {
  background: #3568D5;
  color: #fff;
}

.popup__errors {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 100%;
  position: relative;
}

.popup__error {
  margin: 10px 0 0;
  height: 20px;
  text-align: left;
  opacity: 0;
  position: absolute;
  transition: all .3s ease-in-out;
  translate: 0 -10px;
  pointer-events: none;
  user-select: none;
}

.popup__error_visible {
  translate: 0 0;
  opacity: 1;
}

.popup__error-syntax {
  color: #e81224;
}

.popup__error-length {
  color: #f7630c;
}

.popup__error-length-bot {
  transform: translateY(30px);
}

.popup__button-submit {
  width: 200px;
  height: 50px;
  border: none;
  padding: 0;
  margin: 10px 0 0;
  border-radius: 10px;
  color: #f7b302;
  background: #25282b;
}

.popup__button-submit_disabled {
  color: #fdc435;
  background: #474d52;
}

.popup__addresses {
  position: relative;
  height: 338px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid #e5e7eb; 
  border-width: 0 0 0 2px;
}

.popup__addresses::-webkit-scrollbar {
  width: 2px;
}

.popup__addresses::-webkit-scrollbar-track {
  background: #e5e7eb;
}

.popup__addresses::-webkit-scrollbar-thumb {
  background: #030100;
}

.popup__address-container {
  width: 250px;
  min-height: 40px;
  border-bottom: 2px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.popup__address-container:first-child {
  border-top: 2px solid #e5e7eb;
}

.popup__address {
  width: 200px;
  height: 22px;
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup__button-delete:before, .popup__button-delete:after {
  height: 16px;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.account-table {
  table-layout: fixed;
  width: calc((100vw - var(--scroll-width)) / 7);
  border-collapse: collapse;
  font-size: 18px;
  border: solid #fdbf1c;
  border-width: 0 1px 1px 0;
}

.account-table__head {
  background: #f3f4f6;
}

.account-table__body {
  background: #fff;
}

.account-table__body_error {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e5e7eb;
}

.account-table__notification_error {
  color: #f00;
  font-size: 22px;
}

.account-table__row {
  display: flex;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  border-top: 1px solid #e5e7eb;
}

.account-table__firedrop {
  background: #40f26a;
}

.account-table__claim {
  background: #f2a540;
}

.account-table__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.account-table__involved {
  width: 122px;
}

.account-table__tokenNumbers {
  width: 49.5px;
}

.account-table__time {
  width: 38px;
}

.account-table__link {
  text-decoration: none;
  color: #000;
}

.account-table__img {
  height: 30px;
  border-radius: 5px;
}

@media screen and (max-width: 1810px) {
  .account-table {
    width: calc((100vw - var(--scroll-width)) / 6);
  }

  .header__hot {
    height: calc(100vw / (1810 / 140));
    padding-left: calc(100vw / (1810 / 20));
    padding-right: calc(100vw / (1810 / 20));
    border-radius: calc(100vw / (1810 / 24));
  }

  .header__title, .header__subtitle {
    font-size: calc(100vw / (1810 / 120));
  }

  .header__img {
    width: calc(100vw / (1810 / 120));
    height: calc(100vw / (1810 / 120));
  }

  .header__button {
    width: calc(100vw / (1810 / 40));
    height: calc(100vw / (1810 / 40));
    border-radius: calc(100vw / (1810 / 10));
  }
}

@media screen and (max-width: 1550px) {
  .account-table {
    width: calc((100vw - var(--scroll-width)) / 5);
  }

  .header__buttons {
    flex-direction: row;
  }

  .header__button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 1300px) {
  .account-table {
    width: calc((100vw - var(--scroll-width)) / 4);
  }
}

@media screen and (max-width: 1040px) {
  .account-table {
    width: calc((100vw - var(--scroll-width)) / 3);
  }
}

@media screen and (max-width: 780px) {
  .account-table {
    width: calc((100vw - var(--scroll-width)) / 2);
  }

  .header {
    justify-content: flex-end;
  }

  .header__hot {
    margin-right: 5px;
  }

  .button-close__top-right {
    margin: 10px;
  }

  .popup__container {
    width: 340px;
    height: 440px;
  }

  .popup__textarea-copy {
    width: 250px;
  }

  .popup__textarea {
    width: 250px;
  }

  .popup__button-submit {
    width: 150px;
  }

  .popup__errors {
    height: 100px;
  }

  .popup__error {
    height: 40px;
  }

  .popup__error-length-bot {
    transform: translateY(50px);
  }
}

@media screen and (max-width: 520px) {
  .account-table {
    width: calc((100vw - var(--scroll-width)) / 1);
  }

  .header__button {
    width: 30px;
    height: 30px;
    border-radius: 7.5px;
  }
}

@media screen and (max-width: 388px) {
  .header__button {
    width: calc(100vw / (388 / 30));
    height: calc(100vw / (388 / 30));
    border-radius: calc(100vw / (388 / 7.5));
  }
}

@media screen and (max-width: 360px) {
  .popup__container {
    width: 300px;
    height: 440px;
  }

  .popup__textarea-copy {
    width: 220px;
  }

  .popup__textarea {
    width: 220px;
  }
}